@page
@model Projeto.Pages.Usuarios.InsertModel
@{
}

<p class="text-danger">@Model.Erro</p>

<div class="row">
    <div class="col-8">

        <h4>Cadastro de Novo Usuário</h4>

    </div>
</div>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        @Html.LabelFor(m => m.Usuario.Nome)
        @Html.TextBoxFor(m => m.Usuario.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Usuario.Nome)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Usuario.Login)
        @Html.TextBoxFor(m => m.Usuario.Login, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Usuario.Login)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Usuario.Senha)
        @Html.TextBoxFor(m => m.Usuario.Senha, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Usuario.Senha)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Usuario.Administrador, new { @class = "form-check-label" })
        @Html.CheckBoxFor(m => m.Usuario.Administrador)
        @Html.ValidationMessageFor(model => model.Usuario.Administrador)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Usuario.Ativo, new { @class = "form-check-label" })
        @Html.CheckBoxFor(m => m.Usuario.Ativo)
        @Html.ValidationMessageFor(model => model.Usuario.Ativo)
    </div>

    <div class="form-group">
        <input type="submit" value="Confirmar Cadastro" class="btn btn-primary" /> |
        <a asp-page="./Index">Voltar para Lista</a>
    </div>
</form>